:root {
  --widthKey: 50px;
  --whiteKeyColor: #ffffff;
  --blackKeyColor: #000000;
  --whiteKeyHoverColor: #c3c3c3;
  --blackKeyHoverColor: #414141;
  --background-piano: #151515;
  --background-app: #7c9cbb;
  --background-second: #383838;
  --mainLightColor: #ffffff;
  --backgroundSwitch: #383838;
  --colorSwitchActive: #ffffff;
  --colorSwitchOff: #5e5e5e;
  --fontColorPanel: #ffffff;
  --fontMain: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

/* ------------------------------------- Общие стили ------------------------------------- */

ul, li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--background-app);
  overflow: hidden;
  font-family: var(--fontMain)
}

.piano-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.piano {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--background-piano);
  border-radius: 10px;
  padding: 30px;
}

/* -------------------------------------Стили панели управления ------------------------------------- */

.piano-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--fontColorPanel);
}

.piano-header {
  margin: 0;
}

.piano-volume-label {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
}

/* Стилизация трека */
.piano-volume-slider  {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  overflow: hidden;
  height: 6px;
  border-radius: 6px;
  background-color: var(--background-second);
  margin: 0;
}

.piano-volume-slider::-webkit-slider-runnable-track {
  height: 6px;
  background-color: var(--background-second);
}

.piano-volume-slider::-moz-range-track {
  height: 6px;
  background-color: var(--background-second);
}

/* Стилизация ползунка */
.piano-volume-slider::-webkit-slider-thumb {
  background: var(--mainLightColor);
  cursor: pointer;
  width: 15px;
  height: 15px;
  -webkit-appearance: none;
  appearance: none;
  margin-top: -4px;
  box-shadow: -100px 0 0 100px var(--mainLightColor);
}

.piano-volume-slider::-moz-range-thumb {
  background: var(--mainLightColor);
  cursor: pointer;
  height: 6px;
  border-radius: 0px;
  appearance: none;
  box-shadow: -200px 0px 0px 200px var(--mainLightColor);
  padding: 0px;
  margin: 0;
}

/* ------------------------------------- Стили включателя подсказок  ------------------------------------- */

.piano-help {
  font-size: 20px;
}

.piano-help-label {
  display: flex;
  gap: 10px;
}

/* ------------------------------------- Switch  ------------------------------------- */
.piano-help-switch {
  display: none;
}

.switch {
  width: 60px;
  height: 30px;
  background-color: var(--backgroundSwitch);
  border-radius: 30px;
  display: flex;
  align-items: center;
}

.switch::before {
  display: block;
  content: '';
  width: 24px;
  height: 24px;
  border-radius: 24px;
  background-color: var(--colorSwitchOff);
  position: relative;
  left: 3px;
  animation: switch-off 0.3s linear forwards;
}

.piano-help-switch:checked + .switch::before {
  animation: switch 0.3s linear forwards;
  background-color: var(--colorSwitchActive);
}

@keyframes switch {
  0% {
    left: 3px;
  }
  60% {
    left: 4px;
    width: 46px;
  }
  100% {
    left: 33px;
    width: 24px;
  }
}

@keyframes switch-off {
  0% {
    left: 33px;
  }
  40% {
    left: 4px;
    width: 46px;
  }
  100% {
    left: 3px;
    width: 24px;
  }
}


/* ------------------------------------- Стили клавиатуры ------------------------------------- */

.piano-keyboard {
  display: flex;
  width: auto;
  height: 50vh;
}

.octave {
  display: flex;
  background-color: var(--background-piano);
  width: 90%;
  position: relative;
}

.key-white {
  width: calc(100vw / 24);
  background-color: var(--whiteKeyColor);
  border: 1px solid #000000;
  position: relative;
  border-radius: 10px;
}

.key-white:hover {
  background-color: var(--whiteKeyHoverColor);
  cursor: pointer;
}

.key-white:has(.key-black:hover){
  background-color: var(--whiteKeyColor);
}

.key-black {
  width: 40px;
  height: 60%;
  background-color: var(--blackKeyColor);
  position: absolute;
  left: 75%;
  top: -2px;
  z-index: 2;
  border-radius: 0 0 10px 10px;
}

.key-black:hover{
  background-color: var(--blackKeyHoverColor);
  cursor: pointer;
  z-index: 2;
}


/* ------------------------------------- стили для мобильной версии ------------------------------------- */
@media (width < 640px) {
  body {
    overflow-y: auto;
  }

  .piano {
    transform: rotate(90deg);
    height: 35vh;
    padding: 30px;
    position: relative;
    top: -20px;
  }

  .octave {
    width: auto
  }

  .key-white {
    width: calc(130vh / 24);
  }

  .key-black {
    width: calc(90vh / 24);
  }
}
