:root {
  --widthKey: 50px;
  --whiteKeyColor: #ffffff;
  --blackKeyColor: #000000;
  --whiteKeyHoverColor: #c3c3c3;
  --blackKeyHoverColor: #414141;
  --background-piano: #151515;
  --background-app: #7c9cbb;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--background-app);
  overflow: hidden;
}

.piano-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.piano-keyboard {
  display: flex;
  padding: 100px 30px 30px 30px;
  background-color: var(--background-piano);
  border-radius: 10px;
  width: auto;
  height: 50vh;
}

.octave {
  display: flex;
  background-color: #2d2d2d;
  width: 90%;
  position: relative;
}

.key-white {
  width: calc(100vw / 24);
  background-color: var(--whiteKeyColor);
  border: 1px solid #000000;
  position: relative;
  border-radius: 10px;
}

.key-white:hover {
  background-color: var(--whiteKeyHoverColor);
  cursor: pointer;
}

.key-white:has(.key-black:hover){
  background-color: var(--whiteKeyColor);
}

.key-black {
  width: 40px;
  height: 60%;
  background-color: var(--blackKeyColor);
  position: absolute;
  left: 75%;
  top: -2px;
  z-index: 2;
  border-radius: 0 0 10px 10px;
}

.key-black:hover{
  background-color: var(--blackKeyHoverColor);
  cursor: pointer;
  z-index: 2;
}

/* стили для мобильной версии */
@media (width < 640px) {
  body {
    overflow-y: auto;
  }

  .piano-keyboard {
    transform: rotate(90deg);
    height: 35vh;
    padding: 70px 30px 30px 30px;
    position: relative;
    top: -50px;
  }

  .octave {
    width: auto
  }

  .key-white {
    width: calc(130vh / 24);
  }

  .key-black {
    width: calc(90vh / 24);
  }
}
